
._content{
    max-width:1296px ;
    margin: 0 auto;
    font-family: Quicksand;
}
.wrapper{
    margin:  30px  auto 0;
    display: flex;
    align-items: center;
    gap: auto;
}
.logo{
   
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 32px;
}

.header-button{
    
    color:#EEE ;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 98px;
    position: relative;
    background-color:#0F8277;
    border-radius: 4px;
    border:1px solid #0F8277 ;
    margin: 0 44px;
    padding: 10px 12px ;
}
.header-button::before{
    content:"";
    background-image: url('../img/Frame\ 1.png');
    background-repeat: no-repeat;
    width: 8px;
    height: 14px;
    background-size: contain;
    position: absolute;
    right:8px;
    bottom: 12px;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 16px 12px 33px;
    width:  384px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
     padding-bottom: 16px;
     font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}
.menu1{
    margin-bottom: 40px;
}
.menu2{
    margin:40px 0;
}
.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.form{
    position: relative;
    display: inline-block;
    
}


.input {
  width: 330px;
  height: 36px;
  font-family: Quicksand;
  padding-left: 12px;
  border: 1px solid #5C5C5C;
  border-radius: 4px;
  outline: none;
  color:#5C5C5C;
}
.button {
  position: absolute; 
  top: 0;
  right:0;
  padding: 10px;
  width: 36px;
  height: 39px;
  border: none;
  background:#0F8277 ;
  
  border-radius: 0 5px 5px 0;
  
}
.nav-menu{
    margin-left: 112px ;
}
.nav-menu ul{
    display: flex;
    gap: 48px;
}
.nav-menu a{
    text-decoration: none;
    color:#000 ;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;

}
.button-menu  {
    margin-left: 104px;
    text-decoration: none;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;

}
.login{
    color: #0F8277;
    text-decoration: none;
}
.signup{
    margin-left: 16px;
    text-decoration: none;
    border:1px solid #0F8277;
    border-radius: 4px;
    background-color: #0F8277; 

    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px;
 
}
.main{
    margin-top: 31px ;
    padding-right: 54px;
    background-color:#DBF3ED ;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.text-main{
    display: inline-flex;
    flex-direction: column;
    margin-left: 110px;
    gap: 32px ;
}
  
   

.title{
    color: #000;
    font-size: 56px;
    font-weight: 700;
    
    
}
.text-title{
    width: 482px;
    color: #000;
    font-style: normal;
    font-size: 22px;
    font-weight: 600;

}

.start{  
    text-decoration: none;
    background-color:#0F8277 ;
    border-radius: 4px;
    border:2px solid #0F8277;
    padding: 10px 12px;
    margin-right: 24px;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
}
.learn{
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px;
    border-radius: 4px;
    border: 2px solid #0F8277;
}
.img{
    margin: 39px 0 30px;
}

.aside {
    margin-top:80px ;
   
    
}

.academic {
    margin-bottom: 12px;
   color:  #0F8277;
   font-weight: 700;
   font-size: 20px;
   display: flex;
}
.choose {
    margin-bottom:12px ;
    color: #000;
    font-style: normal;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
}
.paragraf {
    color: #000;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
}
.navigation-home {
    display: flex;
    margin-top: 40px;
    
   
}
.radius{
    margin-right: 24px;
    border-radius: 8px  ;
    border: 1px solid #DADADA;
}



.link-home{
    text-decoration: none;
    color:#000;
}
.img-home{
    width: 416px;
    border-radius: 8px 8px 0 0 ;
}
.title-home{
    gap: 12px;   
    display: flex;
    padding: 24px 16px;
}

.card-home{
    padding: 24px 16px;
}

.title-card {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
   
}
.diploma {
    margin-top: 81px;
    display: flex;
    gap: 12px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;

}

.diploma::before{
    content: "";
    background-image: url(../img/cds-react-aria-9.svg);
    width: 20px;
    height: 20px;
    
}
.platform{
    margin-top: 80px;
    width: 1296px;
}
.radius1{
    margin-right: 24px;
    border-radius: 8px  ;
    border: 1px solid #DADADA;
    width:306px;
}
.img-popular{
    width: 306px;
    border-radius: 8px 8px 0 0 ;
}
.course{
    margin-top: 81px;
    font-size: 16px;
    color: #0F8277;
    font-weight: 500;

}
.course1{
    margin-top: 57px;
    font-size: 16px;
    color: #0F8277;
    font-weight: 500;

}
.more{
     
    margin-top: 40px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
}
.more::after{
    content: "";
    background-image: url(../img/arrow.svg);
    width:20px;
    height: 20px;
}

.resultat {
    margin-top: 80px;
    display: inline-flex;
    flex-direction: column;
    gap:40px ;
}
.featured {
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
.category-all {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.category {
    display: flex;
    width: 306px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.title-cotegory {
    color: #000;
    font-weight: 700;
    font-size: 24px;

}
.name-category{
    text-decoration: none;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;

}
.nambers-category {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
.partners {
    margin-top: 80px;
    background-color: #DBF3ED;
    padding: 80px 36px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   align-items: center;
}


.title-partners {
    width: 871px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: Quicksand ;
    font-weight: 700;
}
.parters-icon {
   
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
}

.busines{
    margin-top: 80px;
    display: flex;
    gap: 72px;

} 
.description-busines {
    width: 636px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.title-busines {
    color: #000;
    font-weight: 700;
    font-size: 40px;
}
.text-busines {
    color: #000;
font-size: 22px;
font-weight: 600;
}
.button-busines {
    color:#EEE ;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 10px 12px;
}
.busines-block{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    width: 588px;
    height: 412px;
    
   
}
.li-1, .li-2, .li-3, .li-4, .li-5, .li-6{
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.li-1, .li-2, .li-4, .li-5, .li-7, .li-8{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:  1px solid #bababa;
}
.li-9{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prise{
    background-color: #DBF3ED;
    margin-top: 70px;
    padding: 80px 0 100px ;
    
}
.title-prise{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-family: Quicksand;
    font-weight: 700;
    margin-bottom:40px;
}
.prise-all{
    display: flex;
    gap: 24px;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    
}
.link-plan{
    text-decoration: none;
}
.plan-title {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 27px;
}
.text-plan {
    margin-bottom: 27px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500px;
}
.value {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    
    align-items: center;
    gap:16px ;
    margin-bottom: 75px;
   
   
}
.mo {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.button-prise {
    padding: 10px 12px;
    color: #F6FDFF;
    background-color: #0F8277 ;
    font-family:Cabin;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 4px;

}
.line{
    margin-top: 48px;
    border-bottom: 2px solid #0F8277 ;
    color: #0F8277;
    width: 100%;
}
.item-prise{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.plan-botton{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-left: 16px;
    margin-top: 48px;
}
.text-ru{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    margin-left: 16px;
    margin-top: 16px;

}
.plan-botton::after{
    content:"";
    background-image: url('../img/Vector\ 2.svg');
    background-color:#0F8277 ;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: absolute;
    top: 1px;
    left: -22px;
    border-radius: 500px;
}
.text-ru::after{
    content:"";
    background-image: url('../img/Vector\ 2.svg');
    background-color:#0F8277 ;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: absolute;
    top: 1px;
    left: -22px;
    border-radius: 500px;
}
.plan2 {
   
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
    padding: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plan-title2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    width: 304px;
    margin-bottom: 27px;
}
.text-plan2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 27px;
    width: 304px;
}
.value2 {
    color:#FFF ;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    
    align-items: center;
    gap:16px ;
    margin-bottom: 27px;
}
.mo2 {
    font-size: 16px;
    font-weight: 500;
}
.button-prise2 {
    padding: 10px 12px;
    margin-bottom: 48px;
    border-radius: 4px;
border: 2px solid #FFF;
background: #0F8277;
color: #FFF;
font-family: Cabin;
font-size: 18px;
font-weight: 500;

}
.line2{
    width: 304px;
    background-color: #FFF;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 304px;
}
.plan-botton2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.text-button {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.botton2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.plan-botton2::after{
    content:"";
    background-image: url('../img/Vector\ 2.svg');
    background-color:#FFF ;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
    position: absolute;
    top: 1px;
    left: -22px;
    border-radius: 500px;
}
.student-block{
    margin-top: 80px;
    
}
.photos{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.student-wrapper{
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: repeat( 3,1fr);
    grid-column-gap:24px ;
    grid-row-gap:23px ;
    grid-area: auto;
    justify-content: center;
    
}
.item-photo{
    width: 306px;
    height: 210px;
    
}
.item-photo1{
    grid-column: 2 / 4;
    grid-row: 1/3;
    width:636px;
    height: 445px
}
.regist{
    margin-top: 76px;
    max-height: 100vh;
   background-image: url(../img/image\ 32.png);
   background-size:cover ;
   background-repeat: no-repeat;
   
   padding: 65px;
}
.contact{
    border-radius: 24px;
    background: #DBF3ED;
    text-align: center;
    font-family: Quicksand;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto  ; 
    width: 565px;
   
   
  
}
.title-form{
    color: #000;
    font-size: 40px;
    font-weight: 700;
}
.text-form{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    width: 505px;

}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.name{
    margin-bottom: 8px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
}
.input{
    width: 505px ;
   border-radius: 4px;
   border: 1px solid #0F8277;
   margin-bottom: 24px;
   color: #8E8E8E;
   font-family: Quicksand;
   font-size: 16px;
   font-weight: 500;
}
.massage{
color: #8E8E8E;
font-weight: 500;
font-family: Quicksand;
font-size: 16px;
width: 514px;
height: 104px;
resize: none;
border-radius: 4px;
border: 1px solid #0F8277;
margin-bottom: 24px;
}
.button-form{
    font-family: Cabin;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 12px;
    border: 1px solid #0F8277 ;
    border-radius: 4px ;
    align-items: center;
    background: #0F8277;
    color: #F6FDFF;
    width: 196px;
}
.footer{
    padding: 64px 36px;
    display: flex;
    gap: 684px;
   

}
.left-footer{
    width: 306px;
}
.logo-footer{
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.text-footer{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.rigt-footer{
    width: 306px;
}
.social-wrapper{
    display: flex;
    gap: 24px;
    justify-content: end;
    margin-bottom: 60px;

}

.inst{
    display: inline-block;
    background-image: url(../img/footer/inst.svg);
    width: 32px;
    height: 32px;
    background-size:cover ;
    background-repeat: no-repeat;
}
.face{
    display: inline-block;
    background-image: url(../img/footer/fece.svg);
    width: 32px;
    height: 32px;
    background-size:cover ;
    background-repeat: no-repeat;
}
.in{
    display: inline-block;
    background-image: url(../img/footer/IN.svg);
    width: 32px;
    height: 32px;
    background-size:cover ;
    background-repeat: no-repeat;
}
.copirait{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
}
.copirait::before{
    content: '\000A9';
}